In [1]:
import oracledb
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# credentials
username = 'KL38816'
password = 'Maybankindonesia#2'
dsn = '10.220.50.121:1661/ANALYTIC'

In [3]:
# create connection
connection = oracledb.connect(user=username, password=password, dsn=dsn)

In [4]:
# create engine
engine = create_engine('oracle+oracledb://', creator=lambda: connection)

In [5]:
# open and read the file as a single buffer
fd = open(r'test_db.sql', 'r')
sqlFile = fd.read()
fd.close()

In [6]:
# # all SQL Commands
# sqlCommands = sqlFile.split(";")

In [7]:
query = sqlFile

In [8]:
df = pd.read_sql(query, engine)

In [9]:
df

,base_dt,agree_id,flag,acct_no,acct_br,region,area,branch,gcif_no,cif_no,sub_prod_nm,segment,gcif_name,prod_type,curr_code,rate_dpk,base_amount,npk_sales,colt
0,20240927,ST16IDR00331627000308501,Conven,31627000308501,003,JAKARTA 1,THAMRIN,KCI THAMRIN,G000038265,0006148130,Maybank Deposito Online,CFS-RB-3EA,HARSONO TASLIM,TD,IDR,4.75,1.090000e+08,None,NaN
1,20240927,ST16IDR19300001193060181,Conven,00001193060181,193,JAKARTA 3,BEKASI,KCP KALIMALANG,G000109496,0012005070,Maybank Tabungan Regular,CFS-RB-3EA,DRIAN MARSEPTA MULYA,SA,IDR,0.15,2.162745e+07,0000029997,NaN
2,20240927,IM16EUR0812081000023,Conven,2081000023,081,JAKARTA 2,PLUIT,KCP BANDENGAN,G000152447,0012399552,Maybank Giro Multicurrency,CFS-RB-1PW,MULIA SANTOSO M,CA,EUR,0.00,0.000000e+00,0000034771,NaN
3,20240927,IM16JPY0682068000021,Conven,2068000021,068,SULAWESI & IBT,SULAWESI UTARA & IBT,KCI KENDARI,G000181578,0012616169,Maybank Giro Multicurrency,CFS-RB-3EA,ENDANG PURNAMAWATI,CA,JPY,0.00,0.000000e+00,0000018734,NaN
4,20240927,IM16IDR7318731932704,Sharia,8731932704,459,SUMATERA UTARA,MEDAN UTARA,KCP CEMARA ASRI,G000220145,0006855297,U Transactional Account,CFS-RB-3EA,CHOA GEK I,SA,IDR,0.50,5.489220e+06,0000039844,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366865,20240927,IM16IDR7878787942973,Sharia,8787942973,278,SUMATERA UTARA,BATAM,KCP TANJUNG UBAN,G910355536,0013392649,U Transactional Account,CFS-RB-3EA,SRI ULINTA BR GURUSINGA,SA,IDR,0.50,5.098169e+07,0000041598,NaN
366866,20240927,IM16AUD7182718000062,Sharia,2718000062,718,SUMATERA SELATAN,PALEMBANG,KCS PALEMBANG,G910360734,0013397695,Maybank Giro iB Eq Rate,CFS-RB-3EA,LEGIRAN,CA,AUD,0.00,0.000000e+00,0000042806,NaN
366867,20240927,IM16IDR7898789952132,Sharia,8789952132,580,SUMATERA SELATAN,JAMBI,KCP TALANG BANJAR,G910366459,0013403204,U Transactional Account,CFS-RB-1PW,AGNES FEBRIANNE YAUANDI,SA,IDR,0.50,5.070800e+08,0000039647,NaN
366868,20240927,IM16IDR7318731940501,Sharia,8731940501,459,SUMATERA UTARA,MEDAN UTARA,KCP CEMARA ASRI,G910384114,0013420415,U Transactional Account,CFS-RB-3EA,OEI SOEY MOY,SA,IDR,0.50,2.000000e+08,0000013543,NaN
366869,20240927,IM16IDR7798779919885,Sharia,8779919885,081,JAKARTA 2,PLUIT,KCP BANDENGAN,G910384916,0013421163,U Transactional Account,CFS-RB-3EA,WILBERT YAPARKO,SA,IDR,0.50,1.000000e+06,0000042784,NaN

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366870 entries, 0 to 366869
Data columns (total 19 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   base_dt      366870 non-null  object
 1   agree_id     366870 non-null  object
 2   flag         366870 non-null  object
 3   acct_no      366870 non-null  object
 4   acct_br      366870 non-null  object
 5   region       366868 non-null  object
 6   area         366868 non-null  object
 7   branch       366868 non-null  object
 8   gcif_no      366870 non-null  object
 9   cif_no       366870 non-null  object
 10  sub_prod_nm  366858 non-null  object
 11  segment      366870 non-null  object
 12  gcif_name    366870 non-null  object
 13  prod_type    366870 non-null  object
 14  curr_code    366870 non-null  object
 15  rate_dpk     366870 non-null  float64
 16  base_amount  366870 non-null  float64
 17  npk_sales    318599 non-null  object
 18  colt         1896 non-null    float64
dtypes: float64(3), object(16)
memory usage: 53.2+ MB